*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.container > nav{
    overflow: auto;
}
.container > nav > a >img{
    float: left;
    padding: 15px 25px;
   
}
.menubar{
    float: right;
}
.menubar  li{
    display: inline-block;
}
.color{
    color: #000000;
}
.menubar  li  a{
    display:inline-block;
    padding: 14px 32px;
    
}
.header-text{
    font-weight: 600;
}
.header-button{
    background-color: #2C3878;
    color: #ffffff;
    margin:20px 0;
}
.section1{
    padding: 100px 0;
    text-align: center;
    margin-top: 92px;
}
.section1 h1{
    font-size: 56px;
}
.section1 p{
    white-space: pre-line;
    margin: 40px 0 53px;
    font-size: 18px;
}
.section1-img img{
    width: 100%;
}
.section2{
    padding:50px 0 100px ;
}
.row{
    overflow: auto;
    margin: 0 -15px;
}
.column{
    width: 50%;
    padding:0 15px;
    float: left;
}
.section2-box h2{
    font-size: 24px;
    padding-bottom:24px;
}
.section2-box p{
    font-size: 18px;
    color: #9C9C9C;
    padding-bottom:30px;
}
.section2-box .dates{
    font-size: 18px;
    color: #9C9C9C;
    padding: 30px 80px 0 0;
    display: inline-block;
}
.section2-box .date{
    font-size: 18px;
    color: #9C9C9C;
    padding:30px 0 0;
    display: inline-block;
}
.section2-box img{
    width: 100%;
    padding:16px 0;
}      
.column-fullimg{
    width: 100%;
    padding:0px 15px;
    float: left;
}
.section3{
    padding: 50px 0;
    background-color:#2C3878;
}
.column-s{
    width: 59%;
    padding:0 15px;
    float: left;
}
.column-ss{
    width: 41%;
    padding:0 15px;
    float: left;
}
.section3-box h3{
    font-size:31px;
    color: #ffffff;
    white-space:pre-line;
}


.section3-box p{
    font-size:18px;
    color:#D9D9D9;
    padding-bottom: 20px;
}
.section3-box button{
    background-color:#ffffff;
    padding: 14px 32px;
}
.section4{
    padding: 100px 0;
}
.section4-box h4{
    font-size: 36px;
    color: #333333;
    white-space: pre-line;
}


.section4-box input{
    border: none;
    outline: none;
    width: 93%;
    padding:23px 0 10px 0;
    border-bottom: 2px solid #000000;
}
.section4-box p{
    color: #333333;
    font-size:16px;
    padding: 38px 0 17px;
}
.section4-box-icon span{
    display: inline-block;
    background-color: #D9D9D9;
    border-radius:50%;
    margin: 0 10px;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
}
.section4-box-icon{
    float: right;
}

.arrow-icon{
    font-size: 30px;
}
.icons{
    font-size: 14px;
    vertical-align: middle;
    padding-right: 5px;
}
.marquee{
    font-size:25px;
    padding-top: 20px;
    background-color: #D9D9D9;
}
.marquee-sec{
    padding: 50px 0;
    position: sticky;
    width: 100%;
    top: 20px;
    left: 0;
    right: 0;
    /* background-color: #D9D9D9; */
    
}